PORT=3000
NODE_ENV=development

FRONTEND_URL=http://localhost:5173

API_URL=http://localhost:3000

SUPABASE_URL=https://tu-proyecto.supabase.co
SUPABASE_SECRET_KEY=tu_clave_service_role_de_supabase

MONGO_CONNECT=false
MONGO_URI=mongodb+srv://usuario:password@cluster.mongodb.net/backend_react_ready?retryWrites=true&w=majority

JWT_SECRET=sustituye_por_una_clave_larga_y_aleatoria
JWT_EXPIRES_IN=7d

CLOUDINARY_CLOUD_NAME=tu_cloud_name
CLOUDINARY_API_KEY=tu_api_key
CLOUDINARY_API_SECRET=tu_api_secret